.market-detail {
  padding-top: 46px;
  background-color: white;
  height: 100vh;
  .detail-title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #08D167;
    color: white;
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      width: 16px;
      position: absolute;
      left: 12px;
      top: 50%;
      margin-top: -8px;
    }
  }
  .detail-content {
    background: url("../../../assets/images/market_bg_2.png");
    background-size: 100% 100%;
    padding-top: 24px;
    .top-icon-number {
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        height: 36px;
      }
      div {
        display: flex;
        font-size: 14px;
        color: #333;
        p {
          font-size: 12px;
        }
        .iconfont {
          font-size: 12px;
          margin-left: 4px;
          color: #999;
          display: inline-block;
          transform: translateY(1px);
        }
      }
    }
    .bottom-count {
      display: flex;
      justify-content: space-around;
      margin-top: 24px;
      padding-bottom: 24px;
      .count-public {
        display: flex;
        flex-direction: column;
        width: 20%;
        justify-content: center;
        p {
          font-size: 14px;
          color: #333;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: center;
          color: #08D167;
          font-weight: 500;
        }
        p:first-child {
          margin-bottom: 12px;
        }
      }
      .date-public {
        width: 25%;
        text-align: center;
        font-size: 14px;
        color: #333;
        p:last-child {
          width: 50px;
          padding: 4px 6px;
          background-color: #08D167;
          border-radius: 16px;
          color: white;
          margin: 0 auto;
          margin-top: 12px;
        }
      }
    }
  }
}
