.merchant-view {
  padding-top: 50px;
  .merchant-nav {
    background-color: white;
    padding: 16px 0;
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    max-width: 750px;
    left: 50%;
    margin-left: -50%;
    p {
      font-size: 18px;
      color: #333;
    }
    .filter-public {
      position: absolute;
      right: 22px;
      top: 20px;
      .iconfont {
        font-size: 13px;
        color: #666;
      }
    }
  }
  .tabs-mine {
    position: sticky;
    .adm-tabs-header {
      background-color: white;
      position: fixed;
      top: 50px;
      width: 100%;
      max-width: 750px;
      left: 50%;
      margin-left: -50%;
    }
    .adm-tabs-content {
      padding: 16px 12px;
      padding-top: 40px;
    }
    .adm-list-body {
      background-color: rgba(0, 0, 0, 0);
      border: 0;
    }
    .list-public {
      .adm-center-popup-body {
        padding-top: 0;
      }
      .adm-dialog-content {
        padding: 20px;
        padding-top: 20px;
        .detail-content {
          position: relative;
          text-align: center;
          .close-icon {
            font-size: 14px;
            color: #666;
            position: absolute;
            top: -6px;
            right: 0;
          }
          img {
            width: 36px;
            height: 36px;
          }
          .coin-name {
            margin-top: 4px;
            font-size: 14px;
            font-weight: 500;
            color: #333;
          }
          .order-date {
            font-size: 12px;
            color: #999;
          }
          ul {
            margin-top: 16px;
            li {
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;
              align-items: center;
              padding: 0;
              p {
                font-size: 12px;
              }
              p:first-child {
                width: 48px;
                margin-right: 22px;
                text-align: left;
              }
              p:nth-child(2) {
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
                color: #999;
              }
              .iconfont {
                margin-left: 12px;
                font-size: 13px;
                color: #999;
              }
              .strong-text {
                font-size: 16px;
                font-weight: 500;
                color: #4266ff!important;
              }
            }
            li:last-child {
              margin-top: 16px;
              justify-content: flex-end;
              margin-bottom: 0;
              button {
                height: 28px;
                background-color: #4266ff;
                font-size: 12px;
                color: white;
                padding: 0 16px;
              }
            }
          }
        }
      }
      ul {
        li {
          padding: 12px;
          background-color: white;
          border-radius: 4px;
          margin-bottom: 12px;
          .coin-msg {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .img-text {
              display: flex;
              img {
                width: 36px;
                height: 36px;
              }
              .msg-text {
                text-align: left;
                margin-left: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 4px;
                p:first-child {
                  font-size: 14px;
                  color: #333;
                  font-weight: 500;
                }
                p:last-child {
                  font-size: 12px;
                  color: 12px;
                  color: #999;
                  margin-top: 4px;
                }
              }
            }
            .fee-msg {
              text-align: right;
              p {
                font-size: 12px;
                color: #999;
              }
              p:last-child {
                margin-top: 4px;
              }
            }
          }
          .pay-msg {
            padding: 7px 10px;
            background-color: #f9f9f9;
            border-radius: 5px;
            margin-top: 12px;
            .msg-public {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 12px;
              p {
                font-size: 12px;
                color: #999;
                white-space: nowrap;
                .strong-text {
                  font-size: 16px;
                  font-weight: 500;
                  color: #4266ff;
                }
                .iconfont {
                  color: #666;
                  font-size: 13px;
                  margin-left: 8px;
                }
              }
              p:nth-child(2) {
                text-overflow: ellipsis;
                overflow: hidden;
                padding-left: 12px;
                text-align: right;
              }
            }
            .msg-public:last-child {
              margin-bottom: 0;
            }
          }
          .oper-box {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            button {
              margin-top: 12px;
              margin-left: 12px;
              font-size: 12px;
              padding: 4px 10px;
              border: 0;
              border-radius: 4px;
              background-color: rgba(0, 0, 0, 0);
            }
            .reject-btn {
              border: 1px solid #4266ff;
              color: #4266ff;
            }
            .primary-btn {
              background-color: #4266ff;
              color: white;
            }
            .done-btn {
              background-color: #eeeeee;
              color: #999999;
            }
          }
        }
      }
    }
    .withdraw-list {
      .adm-center-popup-body {
        padding-top: 0;
      }
      
      .adm-dialog-content {
        padding: 20px;
        .hash-content {
          .oper-title {
            font-size: 14px;
            color: #333;
            position: relative;
            width: 100%;
            height: 14px;
            .iconfont {
              position: absolute;
              right: 0;
              top: 0;
              font-size: 14px;
            }
          }
          .inp-box {
            width: 100%;
            height: 36px;
            background-color: #f9f9f9;
            border-radius: 5px;
            display: flex;
            margin-top: 15px;
            input {
              flex: 1;
              background-color: rgba(0, 0, 0, 0);
              padding-left: 10px;
              font-size: 12px;
            }
          }
          .oper-btn {
            margin-top: 12px;
            display: flex;
            justify-content: flex-end;
            button {
              margin-left: 12px;
              padding: 5px 18px;
              font-size: 12px;
            }
            .default-btn {
              border: 1px solid #eee;
              background-color: rgba(0, 0, 0, 0);
              color: #999;
            }
            .confirm-btn {
              background-color: #4266ff;
              color: white;
            }
          }
          .reject-remark {
            margin-top: 22px;
            text-align: left;
            padding: 0 14px;
            padding-bottom: 6px;
            font-size: 12px;
            color: #666;
          }
        }
        .detail-content {
          ul {
            li {
              .withdraw-pending {
                color: #ff9a00!important;
                font-weight: 500;
              }
              .withdraw-reject {
                color: #f0554c!important;
                font-weight: 500;
              }
              .withdraw-done{
                color: #12BE8B!important;
                font-weight: 500;
              }
            }
            li:last-child {
              flex-wrap: wrap;
              justify-content: space-between;
              button {
                margin-top: 10px;
                width: calc(50% - 10px);
              }
              .default-btn {
                background-color: rgba(0, 0, 0, 0);
                border: 1px solid #4266ff;
                color: #4266ff;
              }
            }
            .just-one {
              justify-content: flex-end !important;
            }
          }
        }
      }
    }
    .deposit-list {
      ul {
        li {
          .coin-msg {
            .fee-msg {
              p {
                color: #666;
              }
            }
          }
        }
      }
    }
  }
}
